{% extends 'base.html.twig' %}

{% block title %}Envoie de mail de renouvellement du mot de passe{% endblock %}

{% block body %}
<div class="message-container">
    <p>
        Si un compte existe pour cette adresse email, un email a été envoyé.<br><br>
        Le lien de réinitialisation du mot de passe expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu de mail, pensez à vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>

    <button class="form_button"> 
        <a href="{{ path('app_home') }}" class="form_button">
          Retour
        </a>
    </button>

</div>


{% endblock %}