{# display stars on comment rate value 0 to 5 #}
<div class="stars" data-stars="{{ field.value }}">
    {% for i in 1..5 %}
        <svg height="25" width="23" class="star rating {{ i <= field.value ? 'rated' : '' }}" data-rating="{{ i }}">
            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
        </svg>
    {% endfor %}
</div>

<style>
    .stars {
    display: flex;
    }
    .star polygon {
    fill: #d8d8d8;
    }
    .star.rated polygon {
    fill: #ffd055;
    }
</style>