{% extends 'base.html.twig' %}

{% block title %}Email non vérifié{% endblock %}

{% block body %}
    <div class="container">
        <h1>Email non vérifié</h1>
        <p>Il semble qu'il y ait eu une erreur lors de la vérification de votre email. Merci de réessayer.</p>
    </div>
{% endblock %}
